[submodule "proactive_sensor_gateway"]
	path = proactive_sensor_gateway
	url = https://github.com/DiracSolutions/proactive_sensor_gateway.git
[submodule "rfid_inventory"]
	path = rfid_inventory
	url = https://github.com/DiracSolutions/rfid_inventory.git
[submodule "rfid_viz"]
	path = rfid_viz
	url = https://github.com/DiracSolutions/rfid_viz.git
[submodule "proactive_sensor_node"]
	path = proactive_sensor_node
	url = https://github.com/DiracSolutions/proactive_sensor_node.git
[submodule "docker_utils"]
	path = docker_utils
	url = https://github.com/DiracSolutions/docker_utils.git
