[submodule "proactive_sensor_gateway"]
	path = proactive_sensor_gateway
	url = https://github.com/DiracSolutions/proactive_sensor_gateway.git
[submodule "rfid_inventory"]
	path = rfid_inventory
	url = https://github.com/DiracSolutions/rfid_inventory.git
[submodule "rfid_viz"]
	path = rfid_viz
	url = https://github.com/DiracSolutions/rfid_viz.git
[submodule "proactive_deploy"]
	path = proactive_deploy
	url = https://github.com/DiracSolutions/proactive_deploy.git
[submodule "proactive_sensor_node"]
	path = proactive_sensor_node
	url = https://github.com/DiracSolutions/proactive_sensor_node.git
[submodule "docker_build_utils"]
	path = docker_build_utils
	url = https://github.com/DiracSolutions/docker_build_utils.git
